
* 

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Palatino Linotype', sans-serif;
}
body
{
    background: lightorange;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background:#fff ;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1) ;
}
.container .gauche
{
    position: relative;
    background: #8B4513;
    padding: 40px;
  }
  
.container .droite
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.title
{
    color: #8B4513;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.title2
{
    color: #8B4513;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.title3
{
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.space
{
  margin-top: 20px;
}
/*  Photo de profil et Titre*/

.profile
{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 20px;
   border-bottom: 1px solid rgba(255,255,255, 0.2); 
}

.profile h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.photo-cv
{
    width: 200px;
    height: 200px;
}

.profile h2 span
{
    font-size: 0.85em;
    font-weight: 250;
}
/*  A propos */
.propos h3
{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.propos p
{
  color: black;
  margin-bottom: 20px;
}

/*  Compétences professionnelles */
.competences
{
    padding-top: 10px;
}

.competences ul
{
    position: relative;
}
.competences ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.competences ul li span
{
    color: black;
    font-weight: 300;
}

.competences .percent span
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #f0f0f0f0;
}
/*  Langues */
.languages
{
    padding-top: 30px;
}

.languages ul
{
    position: relative;
}
.languages ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.languages ul li span
{
    color: black;
    font-weight: 300;
}
.languages .percent span
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #f0f0f0f0;
}
/* Informations contact */

.contact ul li
{
    position: relative;
    list-style: none;
    margin: 20px 0px;
}

.contact h2
{
    margin-bottom: 15px;
   }

/* Informations experiences professionnelles */

.experience-list
  {
    list-style: none; 
    line-height: 1.5em;
}

.experiences .year_company
{
    margin-bottom: 10px;
    margin-top: 30px;
}
.experience-list .l1
{
    padding-bottom: 0.5em;
}

/* Informations études */

.etude h2
{
    margin-bottom: 15px;
    padding-top: 20px;
}
.etude li
{
    margin-bottom: 15px;
    list-style: none;
}
.etude h5
{
    color: #8B4513;
    font-weight: 500;
}

.etude h4
{
    font-weight: 300;
}

/* Informations intérêts */
.interet
{
        padding-top: 30px;
}

.interet ul li
{
    color: black;
    list-style: none;
}

/* format responsif */
@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    } 
    .interet ul
    {
        grid-template-columns: repeat(2,1fr); 
    }
}

@media (max-width: 600px)
{
    .box
    {
        flex-direction: column;
    }
    .box .year_company
    {
        margin-bottom: 5px;
    }
    .interet ul
    {
        grid-template-columns: repeat(1,1fr); 
    }
    .competences .box
    {
        grid-template-columns: repeat(1,1fr);
    }
}